*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
    --backdrope-filter-blur:blur(5px);
    --pink: pink;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    --darkpink:rgb(255, 43, 106);
}
.empty{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    
}
.message{
    text-align: center;
    margin: 2rem  auto;
    font-size: 2rem;
    background: var(--pink);
    color: white;
    width:50vw;
    padding: 1rem;
    border-radius: 5px;
}
.message i{
    cursor: pointer;
    float: right;
}
a{
    text-decoration: none;
}
::selection{
    background-color: var(--pink);
    color:var(--white);
 }
 
::-webkit-scrollbar{
    height: .5rem;
    width: .5rem;
 }
 
::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
::-webkit-scrollbar-thumb{
    background-color: var(--pink);
 }
 
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
 }
 
/*-----FORM------*/
.form-container{
    background-image: url(image/home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container form{
    width: 30vw;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: transparent;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrope-filter-blur);
}
form input,
textarea{
    width: 100%;
    background:seashell;
    padding: .7rem 1.4rem;
    outline: none;
    border-radius: 5px;
    margin: .5rem 0;
    padding-left: .5rem;
    box-shadow: 2px 2px 5px rgba(255,255,255,0.40);
    font-size: 14px;
}
form .btn{
    cursor: pointer;
    background: purple;
    color: salmon;
    text-transform: uppercase;

}
form .btn:hover{
    background: transparent;
    border:2px solid var(--pink);
    color:aqua;
}
.form-container h3{
    text-align: center;
    text-transform: uppercase;
    color: purple;
    margin: 1rem;
}
/*--------ADMIN HEADER---------*/
header{
    background: pink;
    width: 100%;
    padding: 1rem 0;
    box-shadow: var(--box-shadow);
    position: sticky;
    z-index: 1000;
}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:purple;
}
.logo span{
    color:var(--darkpink);
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color:purple;
    text-transform:uppercase;
}
.navbar a:hover,
.header .icons i:hover{
    color: aqua;
}
.header .icons i{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color:palevioletred;
}
#menu-btn{
    display: none;
}
.header .user-box{
    display: flex;
}
.header .user-box{
    position: absolute;
    top:50px;
    right:-10%;
    width:18rem;
    padding: .7rem 1rem;
    background:pink;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-transform:capitalize;
    color:purple;
    font-size: 12px;
    display:none;
    transition: .3s;
}
.header .user-box.active{
    display: block;
}
.header .user-box span{
    text-transform: capitalize;
    color:palevioletred;
    font-size: 14px;
}
.logout-btn{
    background: purple;
    width:14rem;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: pink;
    border-radius: 5px;
    border: none;
    outline: none;
    margin:0 auto;
    margin-top: 1rem;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color:purple;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(18rem,1fr));
    justify-content: center;
    align-items: center;
}
.box-container .box{
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background:#ececec;
    box-shadow: var(--box-shadow);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.box-container .box h3{
    font-size: 3rem;
    color: purple;
}
.box-container .box p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;

}
/*----------add products page-----------*/
.add-products form,
.update-container form{
    width: 50vw;
    margin: 2rem auto;
    backdrop-filter: var(--backdrope-filter-blur);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid salmon;
    align-content: center;
    justify-content: center;
}
.add-products
{
  height: auto;
  background: white;
  position: relative;
}
.show-products,
.order-container{
    position: relative;
    background: white;
    margin-top: 2rem;
    display: grid;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}
.box-container .box img{
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.edit,
.delete{
    margin: .5rem;
    text-transform: capitalize;
    color: pink;
    background-color: purple;
    padding: .8rem 2rem;
    border-radius: .5rem;
}
.update{
    margin: .5rem;
    text-transform: capitalize;
    color: pink;
    background-color: purple;
    padding: .5rem 2rem;
    border-radius: .5rem;
    width:18%;
    cursor:pointer;
    height: 50px;
}
.box-conatiner .box{
    line-height: 1.5;
}
.box-container .box h3{
    text-transform: capitalize;
}
.add-products form label{
    text-transform: capitalize;
    color: purple;
}
.add-products form textarea{
    height: 200px;
}
.edit:hover,.delete:hover{
    color: aqua;
    background: transparent;
    border: 2px solid salmon;
}
.update-container{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: transparent;
    z-index: 1;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: block;
    flex-direction: column;
    

}
.update-container h7{
    font-size: 100px;
}
.form{
    width: 50%;
    padding: 1rem;
    background:white;
    margin: 2rem auto;
    text-align: center;
}
.update-container .edit{
    width:18%;
    cursor:pointer;
    height: 50px;
}

.update-container .btn{
    width:40%;
    cursor:pointer;
}
.update-container form img{
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 50%;
}
/*--------------------order container----------------------*/
.order-container{
    padding: 3% 7%;
}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    justify-content: center;
    align-items:flex-start;
}
.order-container .box{
    text-align: left;
    padding: 1rem 2rem;
}
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: purple;
}
.order-container .box span{
    color:black;
}
.order-container form{
    text-align: center;
    background:#ececec;
}
.order-container form select{
    width: 100%;
    margin: 1rem 0;
    padding: .5rem 0;
    cursor: pointer;
}
.order-container form input{
    box-shadow: none;
    width: 47%;
    text-transform: capitalize;
}


/* media SCreeen */
@media (max-width: 991px){
        #menu-btn{
            display: block;
        }
        .header .flex .navbar{
            position: absolute;
            top:149%;
            left:0;
            right: 0;
            border-top: 1px solid pink;
            background: #ececec;
            transition: .3s ease;
            clip-path: polygon(0 0,100% 0,100% 0,0 0);

        }
        .header .flex .navbar.active{
            clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        }
        .header .flex .navbar a{
            display: block;
            margin: 2rem;
        }
        /* .form-container .form-section form{
            width: 90%;
            margin: auto;
        } */
}
